
// Variables
$brand-base: #008DC9 !default;
$brand-stronger: #0F2D5B !default;
$foreground-weaker: #595959 !default;
$background-weaker: #F7F7F7 !default;
$highlight-color: #F4A81D !default;

// Typography
$font-family-primary: 'Noto Sans', Arial, sans-serif !default;
$font-size-base: 12px !default;
