
@use 'base' as *;

.footer {
  background-color: $brand-stronger;
  color: #ffffff;
  text-align: center;
  padding: 1rem;

  a {
    color: $highlight-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
