
@use 'base' as *;
@use 'sass:color';

.table {
  width: 100%;
  border-collapse: collapse;

  th {
    background-color: $brand-base;
    color: #ffffff;
    padding: 0.75rem;
  }

  td {
    padding: 0.75rem;
    border: 1px solid $foreground-weaker;
  }

  tr:nth-child(even) {
    background-color: $background-weaker;
  }

  tr:hover {
    background-color: color.adjust($background-weaker, $lightness: 5%);
  }
}
