
@use 'base' as *;

h1, h2, h3, h4 {
  color: $brand-base;
  margin-bottom: 1rem;
  font-weight: 600;
}

h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
}
p {
  line-height: 1.5;
  margin-bottom: 1rem;
}

a {
  color: $brand-base;
  text-decoration: underline;

  &:hover {
    color: $brand-stronger;
  }
}
